body {
  background-image: url("https://img.freepik.com/free-photo/brown-concrete-wall-background_43665-111.jpg?size=626&ext=jpg");
  background-repeat: repeat-y;
  background-size: cover;
}
.col-md-4{
  border: solid 1px;
  padding-left:0px;
  padding-right:0px;
}
.container{
  width: 654px;
  height: 666px;
  position: relative;
  margin-top: 5%;


/* background-image: url("http://www.vyseri.com/images/tripletriad.png");
background-size: cover;
background-repeat: no-repeat; */
}

#imgBackground{
  height: 100%;
  position: fixed;
  width: 654px;
  height: 672px;
  margin: -17px;
  margin-top: 0px;


}
.blank{
  width:218px;
  height:224px;
}
.right{
  float:right;
  border: solid 1px;
  width:224px;
}
.left{
  float:left;
  border: solid 1px;
  width:224px;
}

.col-md-4{
  border: solid 1px;
  padding-left:0px;
  padding-right:0px;
}
.container{
  width: 654px;
  height: 666px;
}
.blank{
  width:218px;
  height:224px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
